
 .cta-section {
     background-color: var(--bs-body-bg);
     padding-bottom: 0;
 }

 .cta-box {
     background-color: var(--bs-primary);
     color: var(--color-dark);
     padding: 60px 40px;
     border-radius: var(--bs-border-radius-lg);
     box-shadow: 0px 0px 15px -1px var(--bs-primary);
     position: relative;
     z-index: 10;
 }

 .cta-title {
     font-family: var(--font-heading);
     font-size: 2.2rem;
     line-height: 1.2;
 }

 .cta-subtitle {
     font-family: var(--font-body);
     font-size: 1rem;
     opacity: 0.85;
 }

 .dark-gradient-bg {
     height: 400px;
     background: linear-gradient(to bottom, transparent, var(--color-dark));
     box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.5) inset;
     z-index: 0;
 }
.btn-outline-dark{
    background:rgba(11, 11, 11, 0.5);
    color: var(--bs-light);
    border: none;
    font-family: var(--font-mono2);
   
}
 @media (max-width: 575.98px) {
     .cta-box {
         padding: 40px 20px;
     }

     .cta-title {
         font-size: 1.8rem;
     }

     .btn-custom {
         width: 100%;
     }
 }

 .custom-footer {
     background: var(--bs-dark);
     color: var(--bs-light);
     font-family: var(--font-heading);
 }

 .footer-top-row {
     border-bottom: 1px solid var(--bs-light);
 }

 .footer-link {
     color: var(--color-light-1) !important;
     text-decoration: none;
     font-size: 0.95rem;
     font-weight: 500;
     transition: color 0.2s;
 }

 .footer-link:hover {
     color: var(--color-primary) !important;
 }

 .footer-brand-link {
     color: var(--color-light-1);
     text-decoration: none;
     font-size: 1.2rem;
     font-weight: 700;
 }

 .logo-icon-arrow {
     color: var(--color-primary);
     display: inline-block;
     font-size: 1.5rem;
     margin-right: 5px;

 }

 .social-icon {
     color: var(--color-light-1);
     font-size: 1rem;
     margin-right: 15px;
     transition: color 0.2s;
     text-decoration: none;
 }

 .social-icon:hover {
     color: var(--color-primary);
 }

 @media (max-width: 767.98px) {
     .footer-top-row {
         text-align: center;
         flex-direction: column;
     }

     .footer-logo {
         margin-bottom: 20px;
     }

     .footer-links-group {
         justify-content: center !important;
     }

     .footer-social-icons {
         text-align: center;
         margin-bottom: 15px;
     }

     .footer-copyright {
         text-align: center !important;
     }
 }